body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    flex: 0 1 auto;
    text-align: center;
    margin-top: 0.5rem;
}

#nav {
    text-align: center;
    display: inline-block;
}

#nav a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5em;
    transition: font-size 0.8s ease;
    color: black;
    display: inline-block;
}

#nav a img {
    height: 0.8em;
}

#nav a:not(:first-child) {
    margin-left: 1em;
}

#nav a:hover {
    font-size: 1.7em;
}

footer {
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    background-color: white;
}

main {
    margin: 0 2rem 1rem 2rem;
    flex: 1 0 auto;
}

.article-description {
    color: black;
    text-decoration: none;

}

.article-description .article-metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-description .publication-date {
    flex: 0 0 auto;
    font-style: italic;

}

.article-description .read-more {
    flex: 1 0 auto;
    color: rgb(220, 25, 25);
    font-weight: bold;
}

.article-description .read-more:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    footer {
        display: none;
    }

    main {
        margin-bottom: 0;
    }
}
